body{
	padding: 20px 0px;
}
.container{
	width: 100%
}
pre{
	border-radius: 0px;
	font-size: 14px;
	height: 400px
}
.input-group-addon{
	padding: 0px;
	border:0px;
}
.input-group-addon select{
    padding: 7px 0px 6.5px 0px;
    box-shadow: none;
    border-width: 2px 0px 2px 2px;
    border-color: #777;
}
.input-group{
	border: 4px solid #eee;
}
.input-group input{
    border: none;
    border: 2px solid #777;
}
.send_button{
    border: 2px solid #777;
    padding: 7px 10px 8px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #777;
    margin-left: -4px;
}
.send_button:hover{
    cursor: pointer;
    text-decoration: none;
    color: #777;	
}